$pagination-color: #F1F2F3;
$button-border-color: #FAF9F9A1;

$progress-bar-background: #4A5555;
$progress-bar-inner-background: #F1F2F3;

$text-color: #F1F2F3;
$hover-color: #F1F2F3;

$border-card-content-color: #FFFFFF19;